---
layout: page
title: Curriculum Vitae
description: View my experience, accomplishments, and education
permalink: /cv/
---

<section id="one" class="wrapper spotlight style1">
    <div class="inner">
        <div class="image"><img src="/assets/images/profile.jpg" alt="" /></div>
        <div class="content">
            <h2 class="major">Andrew Sayre, MA</h2>
            <p>{{ site.data.cv.summary | escape }}</p>
            <p><strong>Skills:</strong> {{ site.data.cv.skills | join: ', '}}</p>
            <p><a href="/about/" class="special">More about Andrew</a></p>
        </div>
    </div>
</section>

<div class="wrapper highlight style3">
    <div class="inner">
        <h3 class="major">Overview</h3>
        <ul class="actions wrap">
            <li><a href="#highlights" class="button primary small">Highlights</a></li>
            <li><a href="#experience" class="button primary small">Experience</a></li>
            <li><a href="#organizations" class="button primary small">Organizations</a></li>
            <li><a href="#presentations" class="button primary small">Presentations</a></li>
            <li><a href="#certifications" class="button primary small">Certifications</a></li>
            <li><a href="#education" class="button primary small">Education</a></li>
        </ul>
    </div>
</div>

<div class="wrapper">
    <div class="inner">
        <h3 class="major" id="highlights">Career Highlights</h3>
        <ul class="spaced">
            {%- for highlight in site.data.cv.highlights -%}
            <li>{{ highlight | escape }}</li>
            {%- endfor -%}
        </ul>
    </div>
</div>

<div class="wrapper style2">
    <div class="inner">
        <h3 class="major" id="experience">Experience</h3>
        <section class="experience">
            {%- for position in site.data.cv.experience.positions -%}
            <div class="row">
                <div class="col-4 col-12-small">
                    {% include cv/organization.html item=position %}
                </div>
                <div class="col-8 col-12-small">
                    {%- if position.responsibilities.size > 0 -%}
                    <h5>Responsibilities</h5>
                    <ul class="spaced">
                        {%- for responsibility in position.responsibilities -%}
                        <li>{{ responsibility | escape }}</li>
                        {%- endfor -%}
                    </ul>
                    {%- endif -%}
                    {%- if position.accomplishments.size > 0 -%}
                    <h6>Accomplishments</h6>
                    <ul class="spaced">
                        {%- for accomplishment in position.accomplishments -%}
                        <li>{{ accomplishment | escape }}</li>
                        {%- endfor -%}
                    </ul>
                    {%- endif -%}
                </div>
            </div>
            <hr />
            {%- endfor -%}
            <p class="careernote"><em><strong>Career Note:</strong> {{ site.data.cv.experience.career_note | escape }}</em></p>
        </section>
    </div>
</div>

<div class="wrapper">
    <div class="inner">
        <h3 class="major" id="organizations">Organizations</h3>
        <section class="experience">
            {%- for item in site.data.cv.organizations -%}
            <div class="row">
                <div class="col-4 col-12-small">
                    {% include cv/organization.html item=item %}
                </div>
                <div class="col-8 col-12-small">
                    {%- if item.description.size > 0 -%}
                    <ul class="spaced">
                        {%- for description in item.description -%}
                        <li>{{ description | markdownify | remove: '<p>' | remove: '</p>' }}</li>
                        {%- endfor -%}
                    </ul>
                    {%- endif -%}
                </div>
            </div>
            {%- if forloop.last == false -%}
            <hr />
            {%- endif -%}
            {%- endfor -%}
        </section>
    </div>
</div>


<div class="wrapper style2">
    <div class="inner">
        <h3 class="major" id="presentations">Presentations</h3>
        <section class="experience">
            {%- for presentation in site.categories.presentation -%}
            <div class="row">
                <div class="col-5 col-12-small">
                    <p class="small condense">{{ presentation.event | escape }}</p>
                    <p class="large condense"><a href="{{ presentation.url | relative_url }}"><strong>{{ presentation.title | escape }}</strong></a></p>
                    <p class="small"><time datetime="{{ presentation.date | date: '%Y-%m-%d' }}">{{ presentation.date | date: site.presentation_date_format }}</time></p>
                </div>
                <div class="col-7 col-12-small">
                    <p>
                        {{ presentation.excerpt }}
                        {%- if presentation.links.video -%}
                        <a href="{{ presentation.links.video }}" target="_blank">Watch the video</a></p>
                        {%- endif -%}
                    </p>
                </div>
            </div>
            {%- if forloop.last == false -%}
            <hr />
            {%- endif -%}
            {%- endfor -%}
        </section>
    </div>
</div>

<div class="wrapper">
    <div class="inner">
        <h3 class="major" id="certifications">Certifications</h3>
        <section class="experience">
            {%- for item in site.data.cv.certifications -%}
            <div class="item">
                <p class="company"><span class="image left"><img src="{{ item.logo | relative_url }}" alt="{{ item.issuer | escape }}" /></span><span class="name">{{ item.issuer | escape }}</span></p>
                <div class="position">
                    <p class="large"><strong>{{ item.name | escape }}</strong></p>
                    <p class="small">Issued: {{ item.issue_date | date: site.certification_date_format }}
                        {%- if item.expiration_date -%}
                        &mdash;{{ item.expiration_date | date: site.certification_date_format }}
                        {%- endif -%}
                    </p>
                </div>
            </div>
            {%- if forloop.last == false -%}
            <hr />
            {%- endif -%}
            {%- endfor -%}
        </section>
    </div>
</div>

<div class="wrapper style2">
    <div class="inner">
        <h3 class="major" id="education">Education</h3>
        <section class="experience">
            {%- for item in site.data.cv.education -%}
            <div class="row">
                <div class="col-4 col-12-small">
                    {%- assign logo_alt = item.logo_alt | default: item.institution -%}
                    <p class="company"><span class="image left"><img src="{{ item.logo | relative_url }}" alt="{{ logo_alt | escape }}" /></span><span class="name">{{ item.institution | escape }}</span></p>
                    <div class="position">
                        <p class="large"><strong>{{ item.degree | escape }}</strong></p>
                        <p class="small">{{ item.field | escape }}</p>
                        <p class="small">{{ item.location | escape }}</p>
                    </div>
                </div>
                <div class="col-8 col-12-small">
                    {%- if item.description.size > 0 -%}
                    <ul class="spaced">
                        {%- for description in item.description -%}
                        <li>{{ description | escape }}</li>
                        {%- endfor -%}
                    </ul>
                    {%- endif -%}
                </div>
            </div>
            {%- if forloop.last == false -%}
            <hr />
            {%- endif -%}
            {%- endfor -%}
        </section>
    </div>
</div>