                <!-- Footer -->
                <section id="footer">
                    <div class="inner">
                        <h2 class="major"><a href="/">Andrew Sayre</a></h2>
                        <div class="row">
                            <div class="col-4 col-12-medium">
                                <h3>Background</h3>
                                <ul class="alt">
                                    <li><a href="/about/">About</a></li>
                                </ul>
                                <h3>News and Updates</h3>
                                <ul class="alt">
                                    <li><a href="/posts/">All Updates</a></li>
                                </ul>
                            </div>
                            <div class="col-4 col-12-medium">
                                <h3>Experience</h3>
                                <ul class="alt">
                                    <li><a href="/cv/">Curriculum Vitae</a></li>
                                    <li><a href="/presentations/">Presentations</a></li>
                                </ul>
                            </div>
                            <div class="col-4 col-12-medium">
                                <ul class="contact">
                                    <li class="icon fa-solid fa-envelope"><a href="mailto:andrew@andrewsayre.com">andrew@andrewsayre.com</a></li>
                                    <li class="icon fa-brands fa-linkedin"><a href="https://www.linkedin.com/in/andrewsayre/">linkedin.com/in/andrewsayre</a></li>
                                    <li class="icon fa-brands fa-github"><a href="https://github.com/andrewsayre">github.com/andrewsayre</a></li>
                                    <li class="icon fa-brands fa-bluesky"><a href="https://bsky.app/profile/andrewsayre.com">bsky.app/profile/andrewsayre.com</a></li>
                                </ul>
                            </div>
                        </div>
                        <ul class="copyright">
                            <li>&copy; 2025  {{ site.title | escape }}. All rights reserved.</li><li>Design adapted from: <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul>
                    </div>
                </section>