<section class="experience">
    {%- for post in include.posts -%}
    <div class="row">
        <div class="col-5 col-12-small">
            {%- if post.event -%}
            <p class="small condense">{{ post.event | escape }}</p>
            {%- endif -%}
            <p class="large condense"><a href="{{ post.url | relative_url }}"><strong>{{ post.title | escape }}</strong></a></p>
            <p class="small"><time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: site.presentation_date_format }}</time></p>
        </div>
        <div class="col-7 col-12-small">
            {%- if post.image -%}
            <a href="{{ post.url | relative_url }}">
            <span class="image fit"><img src="{{ post.image | relative_url }}" alt="" /></span></a>
            {%- endif -%}
            <p>
                {{ post.excerpt | remove: '<p>' | remove: '</p>' }} 
                {%- if post.links.video -%}
                <a href="{{ post.links.video }}" target="_blank">Watch the video.</a> 
                {%- endif -%}
            </p>
            {%- if post.abstract -%}
            <h3>Abstract:</h3>
            <blockquote>{{ post.abstract }}</blockquote>
            {%- endif -%}
            <p><a href="{{ post.url | relative_url }}" class="special small">Read More</a><p>
        </div>
    </div>
    {%- if forloop.last == false -%}
    <hr />
    {%- endif -%}
    {%- endfor -%}
</section>