---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "main";

.profile {
    border-radius: 100%;
    border: solid 2px rgba(255, 255, 255, 0.125);
    cursor: default;
    display: inline-block;
    position: relative;
    font-size: 2em;
    height: 238px;
    line-height: 2.25em;
    text-align: center;
    width: 238px;
}

#banner {
    padding-top: 5em;
}