.experience {
    
    ul.spaced {
        margin-bottom: 1em;
    }

    .row,
    .item {
        margin-top: 1em;

        &:first-child {
            margin-top: 0
        }
    }

    hr {
        margin: 0;
        padding: 0;
        border-width: 1px;
    }

    .company {
        margin: 0;
    
        .name {
            @include vendor('display', 'flex');
            @include vendor('flex-direction', 'column');
            @include vendor('justify-content', 'center');
            height: 40px;
            padding-left: 5px;
        }

        .image {
            margin:0;
            width: 40px;
            padding: 0;
            padding-right: 5px;
        }
    }

    .position {
        margin-left: 45px;
        margin-top: -5px;
        padding-bottom: 1em;

        p {
            margin:0;
        }

        p.about {
            margin-top: 1em;
            color: darken(_palette(fg), 30%);
            font-style: italic;
            font-size: 0.8em;
        }
    }

    .careernote {
        margin-top: 1em;
    }

    @include breakpoint('<=small') {
        .position {
            margin: 0;
        }
    }
}