---
layout: default
---
				<!-- Banner -->
                <section id="banner">
                    <div class="inner">
                        <!-- <div class="logo"><img class="profile" src="{{ 'assets/images/profile.jpg' | relative_url }}" alt="" /></div> -->
                        <div class="content">
                            <h2>{{ page.title | escape }}</h2>
                            <p>{{ page.description }}</p>
                        </div>
                    </div>
                </section>

            <!-- Wrapper -->
                <section id="wrapper">
                    {{ content }}
                </section>